body {
  font-family: "Alata", sans-serif;
}

.voca-header {
  background-color: #eabc66;
  padding: 6rem;
}

.my-menu-btn {
  padding: 1.1rem 0.8rem;
  border: 0;
  border-radius: 0.4rem;
  color: white;
  background-color: transparent;
}

.btn-submit {
  background-color: #ffb834;
}

.my-menu-btn.active,
.my-menu-btn:hover {
  background-color: #f5d67f;
}

.add-inputs-form {
  width: 100%;
  background-color: white;
  padding: 1.7rem 1.7rem 0 1.7rem;
  border-radius: 0.5rem;
  box-shadow: 0px 3px 7px rgb(231, 231, 231);
  transform: translateY(-30px);
}

table {
  border-collapse: collapse;
  border-radius: 0.5rem;
  overflow: hidden;
  width: 100%;
  border: 1px solid #f0e2e363;
  box-shadow: 0px 3px 7px rgb(231, 231, 231);
}

th {
  background-color: #f0e2e363 !important;
}

th,
td {
  border: 1px solid #f0e2e363;
  padding: 0.7em;
  background: rgb(255, 255, 255);
  border-bottom: 2px solid white;
}

.btn-warning {
  background-color: rgb(255, 208, 208);
  color: #d60040;
  border: 0;
}

.btn-pill {
  font-size: 0.7rem;
  border-radius: 0.5rem;
}
